[Unit]
Description=Atuin daemon service
Documentation=https://docs.atuin.sh
After=network.target
Requires=atuin-daemon.socket

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/atuin daemon

[Install]
Also=atuin-daemon.socket
WantedBy=default.target

